# Ambiente
venv/
__pycache__/
dist/
build/

# Resultados gerais
Resultados*/

# Logs
Detalhes da Triagem.*

# Script que verifica indices duplicaodos
indices_duplicados.py

# Arquivos de metadados do Windows (Zone Identifier)
*:Zone.Identifier

#back_up
/app.rar

*.spec
*.ico