# Ambiente
venv/
__pycache__/
dist/
build/

# Resultados gerais
Resultados*/

# Logs
Detalhes da Triagem.*

# Script que verifica indices duplicaodos
indices_duplicados.py

#back_up
/app.rar

*.spec
*.ico